trigger:
  branches:
    include:
      - main
      - feature/*

pool:
  name: my_agent_1

stages:
  - stage: Terraform_Stage
    displayName: "Terraform Init & Plan"
    jobs:
      - job: terraform_job
        displayName: "Init and Plan"
        steps:
          - task: TerraformTask@5
            displayName: "Terraform Init"
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: 'my-svc'
              backendAzureRmStorageAccountName: 'merasa'
              backendAzureRmContainerName: 'container'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            displayName: "Terraform Plan"
            inputs:
              provider: 'azurerm'
              command: 'plan'
              environmentServiceNameAzureRM: 'my-svc'
  - stage: 
    displayName: "Terraform tflint & tfsec"
    jobs: 
      - job:
        continueOnError: true 
        displayName: "Terraform tflint"
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'tflint'
      - job:
        continueOnError: true 
        displayName: "Terraform tfse"
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'tfsec'